@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Ocultar la atribución flotante de Leaflet */
.leaflet-control-attribution {
  display: none !important;
}

@layer utilities {
  .font-cinzel {
    font-family: var(--font-cinzel), serif;
  }
  .font-montserrat {
    font-family: var(--font-montserrat), sans-serif;
  }
  .font-nunito {
    font-family: var(--font-nunito), sans-serif;
  }
  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
  .font-roboto-mono {
    font-family: var(--font-roboto-mono), monospace;
  }
}

/* Sobrescribir estilos de autocompletado del navegador */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #181818 inset !important;
  -webkit-text-fill-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}
